<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="IdentifyCoursesSuite">

    <test name="TestCases">
        <classes>
            <class name="org.identifycourses.tests.TC_11_NavigateLanguages"/>
            <!-- Add all test classes here -->
        </classes>
    </test>

</suite>
