<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CourseraHackathonSuite">

    <test name="CourseSearchTests">

        <classes>
            <class name="org.identifycourses.tests.TC_11_NavigateLanguages"/>
            <class name="org.identifycourses.tests.TC_16_Universities"/>
           <!--<class name="org.identifycourses.tests.TC_21_InvalidEmail"/>-->
            <class name="org.identifycourses.tests.TC_06_BeginnerFilter"/>
            <class name="org.identifycourses.tests.TC_07_EnglishFilter"/>
            <class name="org.identifycourses.tests.TC_08_BothFilters"/>
            <class name="org.identifycourses.tests.TC_09_ValidateCourses"/>
            <class name="org.identifycourses.tests.TC_10_ExtractDetails"/>

        </classes>

    </test>

</suite>