<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CourseraHackathonSuite">

    <test name="CourseSearchTests">

        <classes>
            <class name="org.identifycourses.tests.TC_11_NavigateLanguages"/>
           <!-- <class name="org.identifycourses.tests.TC_21_InvalidEmail"/>-->
        </classes>

    </test>

</suite>